body {
    
    max-width: 980px;
    height: 900px;
    border: 2px solid black; 
}

header {
    height: 20%;
    width: 100%;
    background-color: blue;
}

header .inside {
    height: 100px;
    width: 50%;
    background-color: orange;
    display: inline-block;
    margin: 35px 225px 35px 225px;
}

header .site {
    height: 50px;
    width: 30%;
    background-color: green;
    text-align: center;
    margin: 20px 10px 15px 150px;
}

.menu_1 {
    float: left;
    width: 20%;
    height: 150px;
    background-color: skyblue;
    text-align: center;
}

.menu_2 {
    float: left;
    width: 20%;
    height: 150px;
    background-color: aquamarine;
    text-align: center;

}

.menu_3 {
    float: left;
    width: 20%;
    height: 150px;
    background-color: bisque;
    text-align: center;
}

.menu_4 {
    float: left;
    width: 20%;
    height: 150px;
    ;
    background-color: pink;
    text-align: center;
}

.menu_5 {
    float: left;
    width: 20%;
    height: 150px;
    background-color: fuchsia;
    text-align: center;
}

.container_main_1 {
    width: 34%;
    height: 450px;
    float: left;
    background-color: brown;
}
.text {
    text-align: center;
    background-color: blueviolet;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    padding: 8%;
    height: 50px;
    width: 150px;
}

.container3 {
    background-color: azure;
    text-align: center;
    width: 155px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.container4 {
    display: inline-block;
    background-color:burlywood;
    text-align: center;
    width: 75px;
    height: 150px;
    margin-left: 90px;
}

.container5 {
    display: inline-block;
    background-color:darkcyan;
    text-align: center;
    width: 75px; 
    height: 150px;
    margin: 0px 0px 0px 0px;
}




/* 
.footer {
    background-color:cadetblue;
    text-align: center;
    height: 200px;

} */