.wrapper {
    border: 2px solid black;
    width: 700px;
    height: 650px;
    margin: 10px 10px 10px 400px;
}

.header {
    margin: auto;
    width: auto;
    border: 1px solid transparent;
    background-color: antiquewhite;
    border-width: 10px 150px 10px 150px;
}
.header p {
    text-align: center;
    border: 1px solid transparent;
    background-color: #EDEFB5;
    font-size: 1.5rem;
}

.wrapper-inner {
    border: 1px solid black;
    
}
